Repository malinclarsson/mandatory-project-agile1-, pull requests merged in 2019-12, with the labels that each got.

#21 Issues/issue 4
  .github/issue-branch.yml
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/Home.jsx
  frontend/src/api/apiCalls.js
  frontend/src/components/ChessBoard.jsx
  frontend/src/components/GameStatusHub.jsx
  frontend/src/components/Leaderboard.jsx
  frontend/src/components/NewGame.jsx
  frontend/src/components/NewMoves.jsx
  frontend/src/components/PreviousGames.jsx
  frontend/src/components/ValidatingMoves.jsx
  frontend/src/css/home.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/serviceWorker.js
  frontend/src/setupTests.js
  sprint_v.1.txt
  veckans_sprint_v.1.md
Labels: frontend

#27 added package eslint-config-airbnb. closes #3
  package-lock.json
Labels: frontend

#22 Sprint v.1 #14
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/Home.jsx
  frontend/src/api/apiCalls.js
  frontend/src/components/ChessBoard.jsx
  frontend/src/components/GameStatusHub.jsx
  frontend/src/components/Leaderboard.jsx
  frontend/src/components/NewGame.jsx
  frontend/src/components/NewMoves.jsx
  frontend/src/components/PreviousGames.jsx
  frontend/src/components/ValidatingMoves.jsx
  frontend/src/css/home.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/serviceWorker.js
  frontend/src/setupTests.js
  package-lock.json
  sprint_v.1.md
  veckans_sprint_v.1.md
Labels: frontend, mötesanteckningar

#26 added text to sprint_v.1.md #14
  sprint_v.1.md
Labels: mötesanteckningar

#29 Added package styled-components. closes #28
  package-lock.json
Labels: frontend

#34 Test - kollar att det funka..
  .github/issue-branch.yml
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/Home.jsx
  frontend/src/api/apiCalls.js
  frontend/src/assets/helpers.js
  frontend/src/components/Gameboard/ChessBoard.jsx
  frontend/src/components/Gameboard/GameStatusHub.jsx
  frontend/src/components/Gameboard/styles.js
  frontend/src/components/Global/Chatt.jsx
  frontend/src/components/Global/Leaderboard.jsx
  frontend/src/components/Global/Popup.jsx
  frontend/src/components/Global/Stats.jsx
  frontend/src/components/Global/style.js
  frontend/src/components/Home/NewGame.jsx
  frontend/src/components/Home/PreviousGames.jsx
  frontend/src/components/Home/style.js
  frontend/src/components/Lobby/Room.jsx
  frontend/src/components/Lobby/style.js
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/serviceWorker.js
  frontend/src/setupTests.js
  frontend/src/style.js
  package-lock.json
  sprint_v.1.md
  veckans_sprint_v.1.md
Labels: frontend

#36 started some sample-css for our global components
  frontend/src/components/Global/style.js
Labels: Design

#37 package chessboardjsx
  package-lock.json
Labels: Design, frontend

#42 added packages chessboardjsx and chess.js, again.
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#44 Test Board fixed
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Home.jsx
  frontend/src/components/Gameboard/ChessBoard.jsx
  frontend/src/components/Gameboard/Rough.js
  frontend/src/components/Gameboard/styles.js
  frontend/src/index.js
Labels: Design, frontend
